@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Stick+No+Bills&family=Amatic+SC:wght@700&family=DM+Mono:wght@300;400;500&display=swap");
/* Fonts:
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Stick No Bills', sans-serif;
font-family: 'Amatic SC', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  color: powderblue;
  text-align: center;
  background: linear-gradient(45deg, rgb(20, 122, 177), rgb(19, 165, 128));
}

.title {
  font-size: 2.5rem;
  text-shadow: 0 0 20px white;
  transition: transform 500ms;
  margin-bottom: 20px;
  margin-top: 40px;
  background: none;
}

.title:hover {
  transform: scale(1.05);
}

#counter {
  font-size: 4rem;
  text-shadow: 0 0 20px white;
  transition: transform 0.5s;
  margin-bottom: 30px;
  background: none;
}

#counter:hover {
  transform: scale(1.2);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: none;
  width: 90%;
}

button {
  transition: transform 0.5s;
  border: none;
  padding: 20px 40px;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  background: linear-gradient(orange, firebrick);
  color: powderblue;
  box-shadow: 0px 0px 50px white;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.saveView {
  background: none;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-top: 40px;
  padding-bottom: 40px;
}

#saveList {
  background: linear-gradient(45deg, firebrick, blue);
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 20px;
  margin: 20px 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 50px white;
  width: 90%;
  max-width: 500px;
  word-wrap: break-word;
}

@media (min-width: 600px) {
  .title {
    font-size: 3rem;
  }

  #counter {
    font-size: 5rem;
  }

  button {
    padding: 20px 40px;
    font-size: 1.5rem;
    width: 80%;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
  }

  button {
    padding: 20px 60px;
    font-size: 1.75rem;
    width: 30%;
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 4rem;
  }

  #counter {
    font-size: 6rem;
  }

  button {
    padding: 30px 80px;
    font-size: 2.5rem;
    width: 25%;
    max-width: 400px;
  }

  .saveView {
    font-size: 3rem;
  }

  #saveList {
    font-size: 2rem;
    padding: 30px;
  }
}
